APP_DB_NAME=db
APP_DB_USER=db_user
APP_DB_PASSWORD=db_pass
APP_DB_HOSTNAME=db

TEST_APP_DB_NAME=test_db
TEST_APP_DB_USER=test_db_user
TEST_APP_DB_PASSWORD=test_db_pass
TEST_APP_DB_HOSTNAME=test_db

SECRET_KEY=lorem!ipsum@

LOG_LEVEL=INFO
