APP_DB_NAME=main_name
APP_DB_USER=main_user
APP_DB_PASSWORD=main_pass
APP_DB_HOSTNAME=main_hostname

APP_DB_TEST_NAME=testdb_name
APP_DB_TEST_USER=testdb_user
APP_DB_TEST_PASSWORD=testdb_pass
APP_DB_TEST_HOSTNAME=testdb_hostname

SECRET_KEY=qwertyuipkjghfcvnm

LOG_LEVEL=INFO
